/* Navbar.css */

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");

nav {
  display: flex;
  align-items: center; /* Aligns items vertically in the center */
  justify-content: space-between; /* Distributes space between and around content items */
  padding: 0 20px; /* Add padding on the sides for some space */
  /* background: #fff; Example background color */
  /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); Optional: adds a slight shadow for depth */
}

.nav-logo img {
  width: 90px; /* Adjust the size as needed */
  margin-top: 10px;
}

.nav-links ul {
  list-style: none; /* Removes default list styling */
  display: flex; /* Aligns links in a row */
  gap: 70px; /* Optional: adds space between the links */
  font-family: "Montserrat", sans-serif; /* Apply Montserrat to your nav links */
  font-size: 1.5em; /* Adjust the size as needed */
  margin-left: 10px;
}

.nav-links li {
  padding: 0; /* Removes default padding if present */
}

.nav-links a {
  text-decoration: none; /* Removes underline from links */

  color: #156669;
  font-weight: 500; /* Optional: sets the font weight */
}
