@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");

.common-all-divs {
  font-family: "Montserrat", sans-serif; /* Apply Montserrat to your nav links */
  color: #156669;
  padding-left: 200px;
  padding-top: 300px;
}

.div-hello {
  font-size: 2em;
  font-weight: 500;
}

.div-name {
  font-size: 6em;
  font-weight: 500;
}
.div-title {
  font-size: 1em;
  font-weight: 500;
}

@media (max-width: 768px) {
  .common-all-divs {
    padding-left: 100px;
    padding-top: 150px;
  }

  .div-hello {
    font-size: 1.5em;
  }

  .div-name {
    font-size: 4em;
  }

  .div-title {
    font-size: 0.8em;
  }
}

/* For mobile devices */
@media (max-width: 480px) {
  .common-all-divs {
    padding-left: 50px;
    padding-top: 100px;
  }

  .div-hello {
    font-size: 1.2em;
  }

  .div-name {
    font-size: 2em;
  }

  .div-title {
    font-size: 0.7em;
  }
}

/* SocialLinks.css */

.div-sociallinks {
  position: fixed;
  top: 55%; /* Center vertically */
  right: 0; /* Align to the right */
  transform: translateY(-50%); /* Adjust for exact centering */
  padding: 0 20px; /* Right padding for some space from the edge */
}

.div-sociallinks a i {
  text-decoration: none; /* Removes underline */
  display: block; /* Stack icons vertically */
  margin-bottom: 2.5em; /* Space between icons */
  color: #156669;
  font-size: 2em; /* Adjust icon size as needed */
}

.div-sociallinks a {
  text-decoration: none; /* Removes underline */
  margin-bottom: 2em; /* Space between icons */
  padding: 10px; /* Add right margin to each link */
}

/* Media query for smaller screens */
@media (max-width: 400px) {
  .div-sociallinks {
    position: fixed;
    bottom: 0; /* Align at the bottom of the viewport */
    right: 50%; /* Center horizontally */
    transform: translateX(50%); /* Adjust for exact centering horizontally */
    display: flex; /* Use flexbox for layout */

    align-items: center; /* Center items vertically within the flex container */
  }
  div-sociallinks a {
    padding: 10px; /* Add right margin to each link */
  }
}
