@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");

.common-all-divs {
  font-family: "Montserrat", sans-serif; /* Apply Montserrat to your nav links */
  color: #156669;
  padding-left: 200px;
  padding-top: 300px;
}

.div-hello {
  font-size: 2em;
  font-weight: 500;
}

.div-name {
  font-size: 6em;
  font-weight: 500;
  /* padding-left: ; */
}
.div-title {
  font-size: 1em;
  font-weight: 500;
}

@media (max-width: 768px) {
  .common-all-divs {
    padding-left: 100px;
    padding-top: 150px;
  }

  .div-hello {
    font-size: 1.5em;
  }

  .div-name {
    font-size: 4em;
  }

  .div-title {
    font-size: 0.8em;
  }
}

/* For mobile devices */
@media (max-width: 480px) {
  .common-all-divs {
    padding-left: 50px;
    padding-top: 100px;
  }

  .div-hello {
    font-size: 1.2em;
  }

  .div-name {
    font-size: 2em;
  }

  .div-title {
    font-size: 0.7em;
  }
}

/* SocialLinks.css */

.div-sociallinks {
  padding-left: 190px;
  padding-top: 20px;
}

.div-sociallinks a i {
  text-decoration: none; /* Removes underline */

  margin-bottom: 3em; /* Space between icons */
  color: #156669;
  font-size: 2.5em; /* Adjust icon size as needed */
}

.div-sociallinks a {
  text-decoration: none; /* Removes underline */
  margin-bottom: 3em; /* Space between icons */
  padding: 10px; /* Add right margin to each link */
}

.div-sociallinks a i:hover {
  font-size: 4em;
  color: #869e9f;
}

@media (max-width: 768px) {
  .div-sociallinks {
    padding-left: 40px;
    padding-top: 20px;
  }

  .div-sociallinks a i {
    font-size: 1em;
  }
  .div-sociallinks a {
    margin-bottom: 1.5em; /* Space between icons */
  }
}
