@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");

.exp-container {
  justify-content: center; /* This will space out the blocks nicely */
  align-items: center;
  padding: 20px; /* Add some padding around the container */
  font-family: "Montserrat", sans-serif; /* Apply Montserrat to your nav links */
  padding-left: 150px; /* Add some padding around the container */
  color: #563913;
}

.div-exp1,
.div-exp2,
.div-exp3 {
  justify-content: center;

  width: 60%; /* Makes each block take up less than half the container */
  margin: 10px; /* Adds some space between the blocks */
  padding: 30px; /* Adds padding inside each block */
  border: 1px solid #ccc; /* Optional border for each block */
  border-radius: 5px; /* Optional rounded corners for each block */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Optional shadow for each block */
}

.div-row1,
.div-row2,
.div-row3 {
  display: flex;
  justify-content: space-between; /* This will place the two items on opposite ends */
  align-items: center; /* This will vertically align the items if they are of different heights */
  font-size: 1em; /* Adjust the size as needed */
  padding-top: 20px;
}

/* Responsive styles using media queries */

/* For tablets and smaller devices */
@media (max-width: 500px) {
  .exp-container {
    padding-left: 20px; /* Reduce padding for smaller screens */
  }

  .div-exp1,
  .div-exp2,
  .div-exp3 {
    width: 80%; /* Increase width to use more space on smaller screens */
  }
}

/* For mobile phones */
@media (max-width: 480px) {
  .exp-container {
    padding-left: 10px;
  }

  .div-exp1,
  .div-exp2,
  .div-exp3 {
    width: 100%; /* Use full width on very small screens */
  }

  .div-row1,
  .div-row2,
  .div-row3 {
    font-size: 0.5em;
    flex-direction: column; /* Stack items vertically */
    align-items: flex-start; /* Align items to the start */
  }
}
