@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  overflow-x: hidden; /* Prevent horizontal scroll */
}

.main_container {
  background-image: url(./Assets/websitebg.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; /* Ensures the image is centered */
  min-height: 100vh; /* Use min-height to cover the full viewport height */
}

.proj_container {
  background-image: url(././Assets/page3_bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; /* Ensures the image is centered */
  min-height: 100vh; /* Use min-height to cover the full viewport height */

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
}

.content {
  /* background-image: url(././Assets/Jobs.png); */
  position: relative;
  z-index: 1;
  padding: 40px 40px;
  font-family: "Montserrat", sans-serif; /* Apply Montserrat to your nav links */
  font-size: 3em; /* Adjust the size as needed */
  color: #563913;
}

.div-skills {
  background-image: url(./Assets/edu_bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; /* Ensures the image is centered */
  min-height: 100vh; /* Use min-height to cover the full viewport height */
  background-attachment: fixed;
}

.div-footer {
  display: flex;
  flex-direction: column;
}

@media (max-width: 768px) {
  .main_container {
    min-height: 50vh; /* Use min-height to cover the full viewport height */
  }
}

.div-experience {
  background-image: url(././Assets/Values_2.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; /* Ensures the image is centered */
  min-height: 100vh; /* Use min-height to cover the full viewport height */
}

.div-div-experience {
  position: relative;
  z-index: 1;
  padding: 40px 40px;
  font-family: "Montserrat", sans-serif; /* Apply Montserrat to your nav links */
  font-size: 3em; /* Adjust the size as needed */
  color: #563913;
}
