* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  overflow-x: hidden; /* Prevent horizontal scroll */
}

.main_container {
  background-image: url(./Assets/websitebg.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; /* Ensures the image is centered */
  min-height: 100vh; /* Use min-height to cover the full viewport height */
}
